.woocommerce-mini-cart__buttons {
    .btn-success {
        background-color: $rp_orange;
        color: $white;
        border: none;
    }
}

.wc-proceed-to-checkout {
    .btn-primary {
        background-color: $rp_orange;
        color: $white;
        border: none;
    }
}
